# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb+srv://username:password@host/db_name

# JWT
# JWT secret key
JWT_SECRET=yourjwtsecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=1440
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
# Number of minutes after which a verify phone token expires
JWT_VERIFY_PHONE_EXPIRATION_MINUTES=10


# AWS
AWS_S3_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION=